body {
	font-size: 16px;
	padding-top: 50px;
}

/** HEADER **/
#header-nav {
	background-color: gray;
	border-radius: 0;
}

.navbar-brand {
	height: auto;
}

.navbar-brand h1 { /* Company name */
	color: black;
	font-size: 2.1em;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	float: left;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: black; 
	text-align: center;
	background-color: white;
	padding-top: 0px;
	padding-bottom: 5px;
}

#nav-list a span {
	font-size: 1.0em;
}

.navbar-default {
	border: 2px solid black;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black;
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -45px;
}

hr {
	border-color: black;
	margin: auto;
}
/** END HEADER **/

/** CONTENT **/
h2 {
	font-size: 1.8em;
	font-weight: bold;
	color: black;
	margin-top: 30px;
	margin-bottom: 35px;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	color: black;
	margin-top: 10px;
}

#main-content{
	height: 1500px;
	background-color: grey;
}

#main-content{
	margin-right: 30px;
	margin-left: 30px;
}
/** END CONTENT **/